<body>
    <div class="background">
        <br>
        <mat-card *ngFor="let b of tasks" class="task-card">
            <p class="subtitle">{{b.subject.nameSubject}}</p>
            <p class="title">{{b.nameTask}}</p>
            <p class="description">
                {{b.descriptionTask}}
            </p>
            <mat-card-actions>
                <button mat-button (click)="modifyTask(b.idTask)">MODIFY</button>
                <button mat-button (click)="deleteTask(b.idTask)">DELETE</button>
            </mat-card-actions>
        </mat-card>
        <button mat-raised-button color="primary" class="add" (click)="addAnotherTask()">ADD</button>
    </div>
</body>